.custom_bg{
	background-color: #FFAEC9;
	margin-bottom: 10px;
	padding:10px 0;

}
.bgc{
	background-color: #99D9EA;
	min-height: 50px;
}
.c_mb{
	margin-bottom: 10px;
}
.red{
	background-color:red;
}